h1 {
    color: red
}

body {
    background-color: #222831;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button {
    background-color: rgb(245, 10, 10);
    color: white;
    padding: 100px 50px;
    border: none;
    cursor: pointer;
    list-style-type: none;
    gap: 100px


}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 2rem auto;
   max-width: 1200px;   
}
.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.navigation a  {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navigation a:hover {
    color: #00adb5
    
}
hr {
   opacity:10%;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;   
}
.herosuper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name {
    
    font-size:3rem;
    color: #fff;
}
.title {
    font-size:4rem;
    color: #13c8ff;
}
.herobtns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.cv {
    background-color: #12b9eb;
    color: #fafbfb;
   border-radius :24px;
   text-decoration: none;
   padding: 0.5rem 1rem;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   gap: 0.5rem;
   backdroup-filter: blur(10px);
}
.hirme {
background-color: rgb(38, 29, 29);
color: #ece9e9;
border-radius :24px;
text-decoration: none;
padding: 0.5rem 1rem;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;   
}
.texetcontainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.texet title {
    display: flex;
  align-items: center;  
  gap: 2rem;    
  font-size: 2rem;
  .aboutname {
    color: #fff;
  } 
.abouttitle {
    color: #13c8ff;
  }
}
.aboutmepar {
    text-align: justify;
    color: #fff;
    
}
p {
    color: #fff;
}
.work {
  background-image: url("youssefdr/images (1).jpg");
  padding: 10rem 10rem;
  margin: 5rem 0rem ;
}
.workscontainer {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
    
}
    .projecttitle {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 5px;
        font-size: 2rem;

    }
    .works ul {
       display: flex; 
       list-style-type: none;
       align-items: center; 
       justify-content: space-between;
    }
    .works li {
        border-radius: 16px;
        background-color: #222831;
        backdrop-filter: blur(4px);
        padding: 1rem 4rem;
    }
    .works li img {
        width: 200px;
        height: 200px;;
        transition: transform 0.2s ;
    }
    .works li img:hover {
        transform: scale(1.5);
    }
    .Contact {
        display: flex;
       align-items: center;
       justify-content: center;
       margin-right: 5rem;
       gap: 20rem;
    }
.contact  h3, .emailandphone a {
   color: #fff;
   text-decoration: none;
}
.emailandphone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.footer {
   color: #fff;
   padding: 2rem;
   text-align: center;
}


